<h1>Biography</h1>

<p>
	Народився 1 квітня 1984 року року в селищі Володимирець Рівненської області.

	Навчався у фізико-математичному класі з посиленим вивченням іноземної мови. У 2001 році закінчив школу із золотою медаллю. Того ж року вступив на Механіко-енергетичний факультет в Рівненському університеті водного господарства (спеціальність «Теплоенергетика»). На третьому курсі почав працювати на російську компанію «АСКОН» програмістом. Займався розробкою CAD-систем.

	Бренд-лого Кідрука
	2005 переїхав до Києва. Вступив до аспірантури НТУУ «КПІ» на Теплоенергетичний факультет.

	2007 року Максим Кідрук виграв грант на навчання за кордоном і виїхав на проживання до Стокгольма (Швеція), де вступив до аспірантури Королівського технологічного інституту. Наукового ступеня у Швеції не здобув через те, що достроково покинув аспірантуру. Почав мандрувати Європою.

	Впродовж 2007—2008 рр. побував у Фінляндії, Норвегії, Італії, Франції, Балтійських країнах.
</p>
