<h1>Other</h1>

<p>У квітні 2015 року на замовлення польського видавництва Akurat з'явилася публіцистична книга «Ja, Ukrainiec».<br />
	Українське видання надрукувало видавництво «Клуб сімейного дозвілля» під назвою «Небратні». У книзі аналізується історія відносин України та Росії від визвольної війни 
	під проводом Богдана Хмельницького до Євромайдану та війни на Сході.</p>
