<h1>Tvoru</h1>

<ul class="list-group">
	<li class="list-group-item" aria-current="true">2012 — «Бот: Атакамська криза» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 484 с. — ISBN 978-966-14-4005-9</li>
	<li class="list-group-item">2013 — «Твердиня» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 592 с. — ISBN 978-966-14-5686-9</li>
	<li class="list-group-item">2014 — «Жорстоке небо» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 608 с. — ISBN 978-966-14-7843-4</li>
	<li class="list-group-item">2015 — «Бот: Ґуаякільський парадокс» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 512 c. — ISBN 978-966-14-9632-2</li>
	<li class="list-group-item">2016 — «Зазирни у мої сни» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 528 с. — ISBN 978-617-12-1504-7</li>
	<li class="list-group-item">2017 — «Не озирайся і мовчи» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 512 с. — ISBN 978-617-12-3865-7[16]</li>
	<li class="list-group-item">2018 — «Де немає бога» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 480 с. — ISBN 978-617-12-4950-9[17]</li>
	<li class="list-group-item">2019  — «Заради майбутнього» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля», 304 с. — ISBN 978-617-12-5961-4[18]</li>
	<li class="list-group-item">2019  — «Доки світло не згасне назавжди» — Харків: Книжковий клуб «Клуб Сімейного Дозвілля»[19] — ISBN 978-617-12-6116-7</li>
	<li class="list-group-item">2023  — «Нові Темні Віки. Колонія»[20] — Бородатий тамарин, 904 с.</li>
</ul>


